@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-border-color {
  @apply border-primary;
}
.primary-light-bg {
  @apply bg-primaryLight;
}

.btn-more:hover i {
  transform: translateX(2px);
}

@media (min-width: 1023px) {
  .section-genre::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-image: radial-gradient(#3c4859 2px, transparent 0);
    background-size: 20px 20px;
    background-position: 0 0;
    opacity: 0.08;
  }

  .top-custom {
    position: unset;
    top: unset;
  }
}

.vivid {
  filter: drop-shadow(0 0 1rem #f0eeee);
}

.zoom:hover img {
  opacity: 0.7;
  transform: scale(1.08);
  transform-origin: 50% 50%;
}

.left-arrow:active,
.right-arrow:active {
  transition: all 0.2s;
  transform: translateY(1px);
}

.disable {
  opacity: 0;
}

/* :root {
  --color-primary-light: #6e01f2;
  --color-primary: #7510f7;
  --color-primary-night: #5f01d0;
  --color-primary-darker: #5e07cd;
  --color-primary-darkest: #48019d;
  --color-gray-1: #f7fafc;
  --color-gray-dark-1: #a0aec0;
  --color-gray-dark-3: #141c3a;

  --plyr-color-main: #6e01f2;
} */
