* {
  padding: 0;
  margin: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary-light: #6e01f2;
  --color-primary: #7510f7;
  --color-primary-night: #5f01d0;
  --color-primary-darker: #5e07cd;
  --color-primary-darkest: #48019d;
  --color-gray-1: #f7fafc;
  --color-gray-dark-1: #a0aec0;
  --color-gray-dark-3: #141c3a;

  --plyr-color-main: #6e01f2;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-gray-1);
}

html {
  // font-size: 100%;
}

body {
  color: var(--color-gray-1);
}
