.hero {
    position: relative;
}

.hero,
.section-video,
.section-testimonials,
.footer {
    background-color: var(--color-primary);

    ::selection {
        background-color: rgba(255, 255, 255, .99);
        color: var(--color-primary);
    }
}

.section-event {
   
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%235f01d0' fill-opacity='0.13' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
